<div class="container">
  <div class="form-container">
    <form>
      <h1 class="form-title">Log in to LibreASI</h1>

      <div class="form-element">
        <mat-form-field appearance="fill">
          <mat-label>Email or Username</mat-label>
          <input
            type="email"
            matInput
            placeholder="someone@example.com"
            [formControl]="email"
            required
          />
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [formControl]="password" type="password" required />
        </mat-form-field>
      </div>

      <div class="form-element">
        <p class="choose">Choose Account Type</p>
      </div>

      <div class="user-selection">
        <mat-radio-group>
          <mat-radio-button value="admin">Administrator</mat-radio-button>
          <mat-radio-button value="interviewer">Interviewer</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="button-container">
        <button
          mat-flat-button
          type="submit"
          color="primary"
          class="submit-button"
        >
          <div class="submit-button-text">Log In</div>
        </button>
      </div>
    </form>
  </div>
</div>
