<div class="container">
  <div class="form-container">
    <form [formGroup]="loginForm">
      <h1 class="form-title">Log in to LibreASI</h1>
      <div class="form-element">
        <mat-form-field appearance="fill">
          <mat-label>Email or Username</mat-label>
          <input
            type="email"
            matInput
            placeholder="someone@example.com"
            formControlName="email"
            required
          />
          <mat-error *ngIf="isEmailValid">{{
            getEmailErrorMessage()
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="(toggleHidePassword)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon svgIcon="{{ iconName }}"></mat-icon>
          </button>
          <mat-error *ngIf="isPasswordValid">{{
            getPasswordErrorMessage()
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-element">
        <p class="choose">Choose Account Type</p>
      </div>

      <div class="user-selection">
        <mat-radio-group formControlName="role">
          <mat-radio-button value="admin">Administrator</mat-radio-button>
          <mat-radio-button value="interviewer">Interviewer</mat-radio-button>
          <div class="form-element">
            <mat-error *ngIf="!selectedRole">Select an Account Type</mat-error>
          </div>
        </mat-radio-group>
      </div>

      <div class="button-container">
        <button
          mat-flat-button
          type="submit"
          color="primary"
          class="submit-button"
          (click)="submit()"
        >
          <div class="submit-button-text">Log In</div>
        </button>
      </div>
    </form>
  </div>
</div>
