.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 95vh;
}

.form-container {
  border-radius: 15px;
}

.form-element,
mat-form-field {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 350px;
}

label {
  float: left;
  clear: left;
  text-align: right;
}

.submit-button {
  float: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.submit-button-text {
  color: white;
  font-weight: 600;
}

.form-title {
  float: left;
  margin-left: 5px;
  margin-bottom: 15px;
  margin-top: -4px;
  font-weight: bold;
  font-size: large;
}

.choose {
  float: left;
  margin-left: 5px;
  font-weight: 600;
}

.user-selection {
  display: flex;
  flex-direction: row;
  float: left;
  overflow-wrap: break-word;
}
